body {
  background-color: #FBDFF0;
}

* {
  margin: 0;
  padding: 0;
}

nav {
  font-family: "Ubuntu", sans-serif;
  position: sticky;
  top: 0px;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  height: 100px;
  background-color: black;
  color: #FFE3FE;
  font-weight: solid;
}

nav ul li {
  padding: 0 12px;
}

.logo {
  font-size: 1.3rem;
  margin-left: 20px;
  color: #969696;
}

#logo1 {
  color: #ff0000;
  background-color: rgb(0, 222, 222);
  padding: 8px;
  border-radius: 30px;
  font-size: 2.3rem;
}

#logo2 {
  color: #ff0000;
  font-size: 2rem;
}

.link a {
  color: #FFE3FE;
  background-color: black;
  opacity: 0.5;
  text-decoration: none;
  text-transform: capitalize;
  padding: 10px 30px;
  line-height: 80px;
  transition: 0.5s;
  font-size: 20px;
  font-weight: solid;
}

.link a:hover {
  opacity: 0.7;
  text-decoration: underline rgb(0, 255, 255) 0.2rem;
  transition: text-decoration 0.5s ease-out;
  font-size: 22px;
  transition: font-size 0.5s ease-in;
}

#rangeBar {
  width: 98%;
  height: 2px;
  cursor: pointer;
}

.songbar {
  padding: 1.2rem;
  background-color: #2e4c53;
  opacity: 0;
  width: 90%;
  z-index: 2;
  margin: auto;
  position: sticky;
  bottom: 0;
  /* color: #fff; */
}

#masterSongBar {
  align-items: center;
  /* margin: 0 2rem; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* border:  2px solid yellow; */
}

.mid_btn {
  display: flex;
  align-items: center;
  /* border: 2px solid green; */
  float: left;
}

.mid_btn i {
  padding: 0 5px;
  cursor: pointer;
  margin: 0 4px;
}

.queue {
  background-color: white;
}

#id {
  background-color: white;
}

.songInfo {
  display: flex;
  width: 35%;
  align-items: center;
  padding: 0px 3px;
  margin: 5px 0;
  /* border: 2px solid green; */
}

#gif{
  width: 20%;
  margin-right: 20px;
  opacity: 0;
}

.masterSongName {
  margin: 0 20px;

}

.songName {
  cursor: pointer;
}

#Queue,
.addtoqueue {
  background-color: #077793;
  border: none;
  color: black;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  margin: 0 15px;
  transition: transform 0.5s;
  box-shadow: rgb(255, 255, 255) 0px 5px 15px;
}

#Queue:hover,
.addtoqueue:hover {
  background-color: #00aeff;
  transform: translateY(-10px);
}


.queuedSong {
  cursor: pointer;
}

.cont_nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#music_list {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  background-color: #131414;
  /* width: 30%; */
  /* height: 40%; */
  /* border: 2px solid red; */
  /* height: 50%; */
  /* min-width: 30%; */
  /* position: relative; */
  /* margin: 20px auto; */
  /* border-radius: 20px; */
  /* height: 70vh; */
    justify-content: center;
  /* max-height: 470px; */
  /* overflow-y: scroll; */
  /* width: 70%; */
  padding: 1rem;
}
/* #structure{
  border: 2px solid blue;
  width: 10%;
  height: 20%;
} */

/* #music_list::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

#music_list::-moz-scrollbar {
  width: 0;
  background: transparent;
}

#music_list {
  -ms-overflow-style: none;
} */

.musicListDiv {
  /* border: 2px solid rgb(5, 72, 50); */
  padding: 4px 1rem;
  margin: 10px;
  width: 300px;
  height: 370px;
  background-color: #1e3737;
  box-shadow: rgb(176, 50, 50) 0px 5px 15px;
  border-radius: 20px;

}
/* .musicListDiv img{
  background-repeat: no-repeat;
  background-size: cover;
  
} */

.shuffleon {
  color: green;
}

.section-side {
  /* width: 100%; */
  /* height: 100%; */
  background-color: #1f2a2a;
  display: flex;
  flex-grow: 1;
}

.current-time,
.total-duration,
#masterSongName {
  font-size: 16px;
  font-weight: bold;
}

.current-time,
.total-duration{
  pointer-events: none;
}


#qd,
#sd {
  display: flex;
  flex-wrap: wrap;
  /* margin: 20px auto; */
  text-align: center;
  padding: 3px;
  /* background-color: rgb(172, 37, 37); */
  color: rgb(118, 118, 118);
  /* width: 50%; */
}

#searchsong {
  background-color: rgb(53, 53, 53);
  width: 70%;
  height: 10px;
  font-size: medium;
  font-weight: solid;
  padding: 1rem;
  border-radius: 20px;
  border-style: none;
  color: #00f7ff;
}

#para{
  margin: 0 15px;
  cursor: pointer;
}

#searchsong:hover {
  background-color: #0c5255;
  border-style: none;
}